App-Movil/*.iml
App-Movil/.gradle
App-Movil/local.properties
App-Movil/.idea/caches
App-Movil/.idea/libraries
App-Movil/.idea/modules.xml
App-Movil/.idea/workspace.xml
App-Movil/.idea/navEditor.xml
App-Movil/.idea/assetWizardSettings.xml
App-Movil/.DS_Store
App-Movil/build
App-Movil/captures
App-Movil/.externalNativeBuild
App-Movil/.cxx
App-Movil/google-services.json
